body {
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

.ant-timeline-item-content {
  font-size: 14px;
}

.ant-timeline-item-tail {
  border-left-color: black;
}

.ant-timeline-item-head-custom {
  padding: 0;
}

.ant-layout-footer {
  padding-left: 20px;
}